html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    image-rendering: optimizeSpeed;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    width: 500px;
    position: fixed;
    top: 75px;
}

.login {
    padding: 10px;
    width: 400px;
    height: fit-content;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 10px #00000069;
}

.loginH1 {
    margin: 15px 0 0 0;
    text-align: center;
}

.loginP {
    margin: 5px;
    text-align: center;
    color: #555;
}

.loginForm {
    margin: 10px;
}

.inputGroup {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    margin: 10px;
    font-weight: bold;
}

.inputGroup input {
    padding: 10px;
    border: 1px solid #00000069;
    border-radius: 7px;

}

.loginButton {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 162, 255);
}

.loginAsGuest {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.loginAsGuest:hover {
    text-decoration: underline;
}