html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    image-rendering: optimizeSpeed;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
}

.header {
    margin: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: #4949493f;
    box-shadow: 0px 10px 10px #00000069;

}

.headerImg {
    width: 200px;
    /* height: 35px; */
}

.headerSearch label {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0095aa;
}

.headerSearch input {
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.headerNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.headerNavigation a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #0095aa;
}

.userIcon {
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
}